/* +++++ mobile styles carousel +++++ */
#hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* force a cinematic shape instead of full-screen height --- kind of works? */
    height: auto;
    aspect-ratio: 4 / 3;
    min-height: 18.75rem;
}

#carousel-slides {
    display: flex;
    width: 100%;
    height: 100%;
}

/* movie images */
.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps img from having a weird crop on screen resize. */
    object-position: center center;
    /* hides inactive slide */
    display: none;
}

.slide.active {
    /* displays active slide */
    display: block;
}

/* +++++ movie details +++++ */
.movie-info {
    position: absolute;
    /* info overlay rests on bottom of carousel on mobile */
    bottom: 0;
    left: 0;
    color: white;
    z-index: 20;
    background: var(--nav-dark-blue);
    /* no border radius on mobile */
    border-radius: 0;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    /* make title & button sit inline */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.75rem;
}

/* movie info adjustment for mobile screen */
.movie-info p {
    display: none;
}

/* reset h1 padding/margin for movie-info container */
.movie-info>h2 {
    padding: 0;
    margin: 0;
}

/* +++++ pagination dots +++++ */
.pill-container {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* dots sit on top of the cover img */
    z-index: 15;
}

.dots-container {
    display: flex;
    padding: 0.5rem 0.75rem;
    gap: 0.45rem;
    border-radius: 1rem;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.718);

}

.dots-container:hover {
    transform: scale(1.25);
}

.dot {
    display: none;
    width: 0.75rem;
    height: 0.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background: var(--accent-yellow);
}

.dot.active {
    background-color: var(--accent-yellow);
    border: 0.125rem solid white;
    /* active dot scales */
    transform: scale(1.35);
}

/* +++++ trailer buttons +++++ */
.trailer-btn {
    width: fit-content;
    padding: 0.75rem;
    border: 0;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    background: var(--ui-light-blue);
}

.trailer-btn:hover {
    background: var(--accent-yellow);
    cursor: pointer;
}

/* +++++ popup overlay for trailer +++++ */
.popup-overlay {
    position: fixed;
    /* stays in the same spot on scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Darkens the background */
    display: flex;
    justify-content: center;
    align-items: center;
    /* positioned on top of nav bar */
    z-index: 9999;
}

.popup-content {
    background: #000;
    padding: 1.25rem;
    width: 100%;
    max-width: 70rem;
    position: relative;
    border: 0.125rem solid var(--accent-yellow);
    border-radius: 1rem;
    margin: 1rem;
    z-index: 10;
}
/* +++++ video popup styling +++++ */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.35rem;
    /* close btn bg */
    background: rgba(255, 255, 255, 0);
    border: 0.1875rem solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    /* 'X' color & btn size */
    color: white;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;

    /* center 'X' inside circle */
    display: flex;
    justify-content: center;
    align-items: center;

    /* smooth hover */
    transition: all 0.3s ease;
}

.close-btn:hover {
    background: white;
    color: var(--nav-dark-blue);
    border: 0.1875rem solid var(--accent-yellow);
}

/* +++++ tablet breakpoint 600px +++++ */
@media (min-width: 37.5em) {

    /* movie-info adjustment for tablet */
    .movie-info p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .movie-info {
        max-width: 40%;
        flex-direction: column;
        left: 1rem;
        bottom: 3rem;
        /* adds border radius on tablet & desktop */
        border-radius: 0.25rem;
    }

    /* display dot on tablet */
    .dot {
        display: block;
    }
}

/* +++++ desktop styling @ 768px +++++ */
@media (min-width: 48rem) {
    #hero {
        height: 100vh;
        z-index: 1;
    }

    /* images */
    .slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* keeps img from having a weird crop on screen resize. 
        doesnt work for every img depending on where the characters are. 
        for example: if you change center to right the mandolorian poster looks good, 
        but the aardvark one doesnt on resize */
        object-position: top center;
        display: none;
        /* hides inactive slide */
    }

    /* movie details */
    .movie-info {
        position: absolute;
        /* movies the card up from the bottom */
        bottom: 15rem;
        left: 1rem;
        /* stops the text from hitting the right edge */
        max-width: 35%;
        padding: 2rem 1rem;
        /* spacing between movie-info items */
        flex-direction: column;
        gap: 1.75rem;
    }

    /* movie-info adjustment for desktop */
    .movie-info p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* display dots on desktop */
    .dot {
        display: block;
    }
}