/*
Styles for the Global Elements go here.

- Variables
- Base Styles
- Non-Component Specific styles
- Typography

*/

/* =========================
     ROOT STYLING
  ========================== */
:root {
  /* typography */
  --font-body: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-ui: "Source Sans 3", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --line-height-base: 1.5;

  /* colors */
  --dark-blue: #000812;
  --mid-dark-blue: #041934;
  --mid-blue: #03224a;
  --light-blue: #86bbff;
  --accent-yellow: #e4a100;

  /* spacing */
  --site-gutter-lg: 1.5rem;
  --site-gutter-sm: 1rem;
  --max-content-width: 120rem;

  /* UI */
  --radius-sm: 5px;
  --radius-md: 10px;

  /* base */
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
     BASE STYLING
  ========================== */

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  background-color: var(--dark-blue);
  color: #ffffff;
}

/* =========================
     TYPOGRAPHY
  ========================== */

h1,
h2,
h3,
h4 {
  font-family: var(--font-ui);
  font-weight: var(--font-weight-semibold);
}

p {
  line-height: var(--line-height-base);
}

/* Container Layouts
========================= */

.container {
  width: 100%;
  padding: 0 var(--site-gutter-sm);
}

/* Full-bleed pointer for ui backgrounds */
.full-bleed {
  width: 100%;
}

/* MOBILE ENDS HERE */

@media (min-width: 50em) {
  .container {
    max-width: var(--max-content-width);
    margin: 0 auto;
  }
}
