/* Movie Cards Styling */

/* container that holds the movie cards and handles the grid output*/
.movie-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 1rem;
  padding: 1.5rem 0;
  /* centers cards inside the grid columns */
  justify-items: center;
}

/* single movie card wrapper */
.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 17rem;
}

/* prevents the title from overlapping the bookmark btn */
.movie-title {
  /* take up X width of parent, leaves room for bookmark */
  flex-grow: 1;
  max-width: 85%;
  font-size: 1.25rem;
}

/* Poster image wrapper to control poster image size - acts like a frame */
.movie-poster {
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow:
    0 1px 8px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(134, 187, 232, 0.15);
  position: relative;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* holds all movie card text and interactions */
.movie-content {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  justify-content: space-between;
}

.movie-card-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.movie-overview {
  /* padding: 1.5rem 0; */
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-date,
.learn-more {
  font-style: italic;
  color: var(--ui-light-blue);
  width: fit-content;
}

button.favourite {
  width: 2rem;
  height: 2rem;
}

/* hide floating bookmark btn (on top of movie poster) */
.desktop-fav {
  display: none;
}

/* mobile/tablet bookmark btn style */
.mobile-fav {
  display: block;
  opacity: 1;
  position: absolute;
  right: 0;
}

/*  +++++ bookmark button styling */
/* state when false */
.fav-btn.add svg {
  fill: none;
  stroke: var(--accent-yellow);
  stroke-width: 40;
}

/* state when true */
.fav-btn svg {
  width: 2.5rem;
  height: auto;
  cursor: pointer;
}

/* state when false */
.fav-btn.add,
.fav-btn.remove {
  background: transparent;
  border: none;
}

.fav-btn.remove svg {
  fill: var(--accent-yellow);
}

/* +++++ MOVIE RATING */
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--ui-light-blue);
  color: #000000;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  z-index: 20;
}

/* TABLET BREAKPOINT HERE */

@media (min-width: 48em) {
  .movie-cards-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 5rem;
  }

  .movie-content {
    gap: 0.5rem;
  }

  .movie-card {
    max-width: none;
  }
}

/* DESKTOP BREAKPOINT HERE */

/* media is very big becasue it's set limit the columns to just six at very large screens */
@media (min-width: 80em) {
  .movie-cards-container {
    grid-template-columns: repeat(5, 1fr);
  }

  /* hide mobile bookmark */
  .mobile-fav {
    display: none;
  }

  /* show desktop fav */
  .desktop-fav {
    display: block;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 50;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  /*  show lofatin button on hover, or if movie is favorites */
  .movie-card:hover .desktop-fav,
  .movie-card:has(.fav-btn.remove) .desktop-fav {
    opacity: 1;
  }

  .movie-content {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: rgba(3, 34, 74, 0.75);
    border-radius: (--border-radius);
    opacity: 0;
    transition: 0.5s ease;
    gap: 1rem;
    justify-content: space-between;
    z-index: 10;
  }

  /* movie card hovers */
  .movie-card:hover .movie-content {
    opacity: 1;
  }

  .movie-card:hover .movie-poster {
    opacity: 0.3;
    filter: blur(2px);
  }

  /* ++++ movie rating desktop position */
  .movie-rating {
    bottom: 1rem;
    right: 1rem;
    /* auto resets the positioning from mobile allowing it to be repositioned */
    top: auto;
    font-size: 0.8rem;
  }
}
