/* +++++ popup overlay for trailer +++++ */
.popup-overlay {
    position: fixed;
    /* stays in the same spot on scroll */
    top: 0;
    left: 0;
    width: 100vw;
    /* default height */
    height: 100vh;
    /* fallback height */
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);
    /* darkens the background */
    display: flex;
    justify-content: center;
    align-items: center;
    /* positioned on top of nav bar */
    z-index: 9999;
}

.popup-content {
    background: #000;
    padding: 1.25rem;
    width: 90%;
    max-width: 70rem;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 0.125rem solid var(--accent-yellow);
    border-radius: 1rem;
    margin: 1rem;
    z-index: 10;
}
/* +++++ video popup styling +++++ */
.video-responsive {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    height: 0;
}

.video-responsive iframe {
    /* object-fit: cover; */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.35rem;
    /* close btn bg */
    background: rgba(255, 255, 255, 0);
    border: 0.1875rem solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    /* 'X' color & btn size */
    color: white;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;

    /* center 'X' inside circle */
    display: flex;
    justify-content: center;
    align-items: center;

    /* smooth hover */
    transition: all 0.3s ease;
}

.close-btn:hover {
    background: white;
    color: var(--nav-dark-blue);
    border: 0.1875rem solid var(--accent-yellow);
}