/* mobile styling */
#logo {
    width: 5rem;
    padding-right: 1rem;

    /* adds white vertical border to right of cinemax logo (height adjusted) */
    background: linear-gradient(white, white); 
    background-size: 0.0625rem 50%; 
    background-repeat: no-repeat;
    background-position: right center;
}
nav {
    border: 1px solid white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: var(--temp);
    background: #001838;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
}

a {
    color: #fff;
}

a:hover {
    color: #E4A100;
}
