/* mobile styling */
nav {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: var(--temp);
}

ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
}
